<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">

	<select id="selectDeptList" resultMap="deptMap">
		select
	    	*
		from
	    	dept
		<where>
	    	dept_level=1
		</where>
	</select>
	
	<select id="selectChild" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=2
	</select>
	
	<select id="selectChild2" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=3
	</select>
	
	<select id="memberList" resultMap="memberMap">
		SELECT
		*
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE D.NAME = #{node}
	</select>
	
	<select id="selectMember" resultMap="memberMap">
		SELECT
		M.*,
        D.key,
        D.ref,
        D.name as deptName
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE M.MEMBER_ID = #{param}
	</select>
	
	<select id="joinMemberList" resultMap="memberMap">
		SELECT
		*
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE M.NAME = #{param}
	</select>
	
	<select id="SeqApprKey" resultType="String">
	select seq_appr_key.nextval from dual
	</select>
	
	<insert id="insertSaveApproval">
		insert into
			appr
		values(
			#{key},
			null,
			#{memId},
			#{title},
			#{content},
			null,
			default,
			#{status}
		)
	
	</insert>
	
	<insert id="insertSavaAttachment">
		insert into
			attachment
		values(
			seq_attachment_key.nextval,
			null,
			#{approvalkey},
			#{memId},
			null,
			#{originName},
			#{reName},
			default,
			default
		)
	</insert>
	
	<insert id="insertSaveApprck1">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			#{status},
			null
		)
	</insert>
	
	<insert id="insertSaveApprck2">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			#{status},
			null
		)
	</insert>
	
	<insert id="insertSaveApprck3">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			#{status},
			null
		)
	</insert>
	
	
  <resultMap type="dept" id="deptMap">
  
  </resultMap>
  
  <resultMap type="member" id="memberMap">
  
  </resultMap>

</mapper>