<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approver">

	<select id="selectDeptList" resultMap="deptMap">
		select
	    	*
		from
	    	dept
		<where>
	    	dept_level=1
		</where>
	</select>
	
	<select id="selectChild" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=2
	</select>
	
	<select id="selectChild2" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=3
	</select>
	
	
  <resultMap type="dept" id="deptMap">
  
  </resultMap>

</mapper>