<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">

	<select id="selectDeptList" resultMap="deptMap">
		select
	    	*
		from
	    	dept
		<where>
	    	dept_level=1
		</where>
	</select>
	
	<select id="selectChild" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=2
	</select>
	
	<select id="selectChild2" resultMap="deptMap">
		select
			*
		from
			dept
		where
			dept_level=3
	</select>
	
	<select id="memberList" resultMap="memberMap">
		SELECT
		*
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE D.NAME = #{node}
	</select>
	
	<select id="selectMember" resultMap="memberMap">
		SELECT
		M.*,
        D.key,
        D.ref,
        D.name as deptName
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE M.MEMBER_ID = #{param}
	</select>
	
	<select id="joinMemberList" resultMap="memberMap">
		SELECT
		*
		FROM MEMBER M FULL OUTER JOIN DEPT D
		ON M.DEPT_KEY = D.KEY
		WHERE M.NAME = #{param}
	</select>
	
	<select id="SeqApprKey" resultType="String">
	select seq_appr_key.nextval from dual
	</select>
	
	<insert id="insertSaveApproval">
		insert into
			appr
		values(
			#{key},
			null,
			#{memId},
			#{title},
			#{content},
			null,
			default,
			#{status}
		)
	
	</insert>
	
	<insert id="insertSavaAttachment">
		insert into
			attachment
		values(
			seq_attachment_key.nextval,
			null,
			#{approvalkey},
			#{memId},
			null,
			#{originName},
			#{reName},
			default,
			default
		)
	</insert>
	
	<insert id="insertSaveApprck1">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			null,
			null
		)
	</insert>
	
	<insert id="insertSaveApprck2">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			null,
			null
		)
	</insert>
	
	<insert id="insertSaveApprck3">
		insert into
			appr_check
		values(
			seq_appr_check_key.nextval,
			#{approvalKey},
			#{memId},
			#{seqNum},
			null,
			null,
			null
		)
	</insert>
	
	<select id="approvalList" resultMap="apprMap">
		select
			P.*,
			M.name,
			D.name as docName
		from
			appr P 
			left outer join member M on P.mem_id = M.member_id 
			left outer join doc_type D on P.type_key = D.key
		where
			P.mem_id = #{memberId} and p.status = 't'
		order by
			P.key desc
			
	</select>
	
	<select id="myApprovalList" resultMap="apprMap">
	
		select
			P.*,
			M.name,
			D.name as docName
		from
			appr P 
			left outer join member M on P.mem_id = M.member_id 
			left outer join doc_type D on P.type_key = D.key
		where
			P.mem_id = #{memberId} and P.status = 'p'
		order by
			P.key desc
	
	</select>
	
	<select id="reWriteAppr" resultMap="apprMap">
		select
			*
		from
			appr
		where
			key = #{key}	
	</select>
	
	<select id="reWriteApprck" resultMap="apprckMap">
		select
		    A.*,
		    R.name as rankName,
		    M.name as ckName
		from
		    appr_check A
		        full outer join member M on A.mem_id = M.member_id
		        full outer join rank R on M.rank_key = R.key
		where
		    A.approval_key = #{key}
		order by seq_num
	</select>
	
	<select id="reWriteAttach" resultMap="attachMap">
		select
			*
		from
			attachment
		where
			approval_key = #{key}
	</select>
	
	<update id="updateApproval">
		update
			appr
		set
			type_key = null, mem_id = #{memId}, title = #{title}, content = #{content},
			draft_date = default, write_date = default, status=#{status}
		where
			key = #{key}
	</update>
	
	<update id="updateApprck1">
		update
			appr_check
		set
			seq_num = #{seqNum}, mem_id = #{memId}
		where
			key=#{key}
	</update>
	
	<update id="updateApprck2">
		update
			appr_check
		set
			seq_num = #{seqNum}, mem_id = #{memId}
		where
			key=#{key}
	</update>
	
	<update id="updateApprck3">
		update
			appr_check
		set
			seq_num = #{seqNum}, mem_id = #{memId}
		where
			key=#{key}
	</update>
	
	<insert id="insertApproval">
		insert into
			appr
		values(
			#{key},
			null,
			#{memId},
			#{title},
			#{content},
			default,
			default,
			#{status}
		)
	</insert>
	
	<select id="apprckList" resultMap="apprckMap">
		select
			*
		from
			appr_check
		where
			mem_id = #{memberId}
	</select>
	
	<select id="apprAndCkList" resultType="Appr">
		select
		    A.*,
		    C.key as ckKey,
		    C.approval_key as ckApprovalKey,
		    C.mem_id as ckMemId,
		    C.seq_num as ckSeqNum,
		    C.check_date as ckCheckDate,
		    C.status as ckStatus,
		    C.opinion as ckOpinion
		from
		    appr A
		        left outer join appr_check C on A.key = C.approval_key
		where
		    C.mem_id = #{memberId}
		    and
            (
		    (select V.status from appr_check V where V.key =  C.key - 1) = 't'
            or 
            C.seq_num = 1
            )
		order by A.key desc
	</select>
	
	<select id="returnApprovalDetail" resultMap="apprMap">
		select
		    A.*,
		    M.member_id as memName,
		    R.name as rankName
		from
		    appr A
		        full outer join member M on A.mem_id = M.member_id
		        full outer join rank R on M.rank_key = R.key
		where
		    A.key = #{key}
		
	</select>
	
	
	<select id="apprckDetail" resultMap="apprMap">
		
		select
		    A.*,
		    C.key as ckKey,
		    C.approval_key as ckApprovalKey,
		    C.mem_id as ckMemId,
		    C.seq_num as ckSeqNum,
		    C.check_date as ckCheckDate,
		    C.status as ckStatus,
		    C.opinion as ckOpinion,
		    M.member_id as memName,
		    R.name as rankName
		from
		    appr A
		        full outer join appr_check C on A.key = C.approval_key
		        full outer join member M on A.mem_id = M.member_id
		        full outer join rank R on M.rank_key = R.key
		where
		    C.key = #{ckKey}
		
	</select>
	
	<select id="selectOneAttachment" resultMap="attachMap">
	
		select
			*
		from
			attachment
		where
			key = #{key}
	
	</select>
	
	<select id="selectcApprck" resultMap="apprckMap">
	
		select
		    *
		from
		    appr_check
		where
		    mem_id = #{memberId} and approval_key = #{apprKey} 
	
	</select>
	
	<update id="changeApprck">
	
		update
			appr_check
		set
			check_date = default , status = 't'
		where
			key=#{key}
		
	</update>
	
	<update id="backApprck">
	
		update
			appr_check
		set
			check_date = default , status = 't'
		where
			key=#{key}
	
	</update>
	
	<update id="backAppr">
		update
			appr
		set
			status = 'a'
		where
			key=#{apprKey}
	</update>
	
	<update id="returnApprck">
		
		update
			appr_check
		set
			check_date = default, status = 'f', opinion = #{opinion}
		where
			mem_id= #{memberId} and approval_key= #{key}
	
	</update>
	
	<update id="returnApproval">
	
		update
			appr
		set
			status ='r'
		where 
			key= #{key}
	
	</update>
	
	<select id="returnApprList" resultMap="apprMap">
		select
			*
		from
			appr
		where
			mem_id = #{memberId} and status = 'r'
		order by key desc
	</select>
	
	<select id="compliteApprList" resultMap="apprMap">
		select
			*
		from
			appr
		where
			mem_id = #{memberId} and status = 'a'
		order by key desc
	</select>
	
  
  <resultMap type="Attachment" id="attachMap"></resultMap>
  <resultMap type="apprCheck" id="apprckMap"></resultMap>
  
  <resultMap type="Appr" id="apprMap">
  
  </resultMap>	
	
  <resultMap type="dept" id="deptMap">
  
  </resultMap>
  
  <resultMap type="member" id="memberMap">
  
  </resultMap>

</mapper>