<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mail">
	
	<select id="selectMailMapList" resultMap="mailMap">
		SELECT M.*, (
		        SELECT COUNT(*)
		        FROM ATTACHMENT A
		        WHERE A.MAIL_KEY = M.KEY) FILE_COUNT
		FROM MAIL M
		ORDER BY M.KEY DESC
	</select>
  	
  	<resultMap type="map" id="mailMap">
  		<id column="key" property="key"/>
  		<result column="mem_id" property="memId"/>
  		<result column="title" property="title"/>
  		<result column="content" property="content"/>
  		<result column="mail_date" property="mailDate"/>
  		<result column="is_checked" property="isChecked"/>
  		<result column="is_starred" property="isStarred"/>
  		<result column="file_count" property="fileCount"/>
  	</resultMap>
  	
  	<select id="selectMailList" resultType="mail">
		SELECT M.*, (
		        SELECT COUNT(*)
		        FROM ATTACHMENT A
		        WHERE A.MAIL_KEY = M.KEY) FILE_COUNT
		FROM MAIL M
		ORDER BY M.KEY DESC
	</select>
	
	<select id="selectMyMail" resultType="mail">
		SELECT *
		FROM MAIL
		WHERE MEM_ID = #{memberId}
		ORDER BY MAIL_DATE DESC
	</select>
	
	<select id="selectStarredMail" resultType="mail">
		SELECT M.*
		FROM MAIL M JOIN MAIL_RECEIVER MR
		ON M.MEM_ID = MR.MEM_ID
		WHERE IS_STARRED = 1 
              AND MR.MEM_ID = #{memberId}
		ORDER BY MAIL_DATE DESC
	</select>
	
	<select id="selectMailDept" parameterType="mail" resultMap="listDept">
	SELECT M.*, D.NAME AS "DEPT_NAME"
		FROM MAIL M JOIN MEMBER SENDER
			 ON M.MEM_ID = SENDER.MEMBER_ID
			 JOIN DEPT D
			 ON SENDER.DEPT_KEY = D.KEY
		WHERE SENDER.DEPT_KEY IN (SELECT RECEIVER.DEPT_KEY
								  FROM MAIL_RECEIVER MR JOIN MEMBER RECEIVER
								  ON MR.MEM_ID = RECEIVER.MEMBER_ID
		                          WHERE RECEIVER.MEMBER_ID IN #{memberId}
		                          )
		ORDER BY MAIL_DATE DESC
	</select>
	
	<resultMap type="mail" id="listDept">
  		<id column="key" property="key"/>
  		<result column="mem_id" property="memId"/>
  		<result column="title" property="title"/>
  		<result column="content" property="content"/>
  		<result column="mail_date" property="mailDate"/>
  		<result column="is_checked" property="isChecked"/>
  		<result column="is_starred" property="isStarred"/>
  		
  		<collection property="attachList" ofType="attachment">
  			<id column="key" property="key"/>
  			<result column="member_id" property="memId"/>
  			<result column="mail_key" property="mailKey"/>
  			<result column="origin_name" property="originName"/>
  			<result column="re_name" property="reName"/>
  			<result column="upload_date" property="uploadDate"/>
  		</collection>
<!--   		<result column="member_id" property="memberId"/>
  		<result column="dept_name" property="deptName"/> -->
  	</resultMap>
	
	<insert id="insertMail">
		INSERT INTO MAIL VALUES(
		        SEQ_MAIL_KEY.NEXTVAL,
		        #{ memId },
		        default,
		        #{ title },
		        #{ content },
		        default
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="key">
			SELECT SEQ_MAIL_KEY.NEXTVAL 
			FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT (
		    key, mem_id, mail_key, origin_name, re_name)
		        VALUES(
		            SEQ_ATTACHMENT_KEY.NEXTVAL,
		            #{ mem_id },
		            #{ mail_key },
		            #{ origin_name },
		            #{ re_name }
		)	
	</insert>
	
<!-- 	<select id="selectOneMail" resultType="mail">
		SELECT *
		FROM MAIL
		WHERE KEY = #{ key }
	</select> -->
	
	<select id="selectAttachList" resultType="attachment">
		SELECT * 
		FROM ATTACHMENT 
		WHERE MAIL_KEY = #{ mail_key }
	</select>
  	
  	<select id="selectOneMailCollection" resultMap="mailCollectionMap">
  		SELECT  M.*,
                A.KEY AS "ATT_KEY",
                A.MAIL_KEY,
                A.ORIGIN_NAME,
                A.RE_NAME
		FROM MAIL M LEFT JOIN ATTACHMENT A
		    ON KEY = A.MAIL_KEY
		WHERE M.KEY = #{ key }
  	</select>
  	
  	<!-- collection을 사용하는 resultMap은 id/result태그를 생략할 수 없다. -->
  	<resultMap type="mail" id="mailCollectionMap">
  		<id column="key" property="key"/>
  		<result column="mem_id" property="memId"/>
  		<result column="title" property="title"/>
  		<result column="content" property="content"/>
  		<result column="mail_date" property="mailDate"/>
  		<result column="is_checked" property="isChecked"/>
  		<result column="is_starred" property="isStarred"/>
  		
  		<collection property="attachList" ofType="attachment">
  			<id column="key" property="key"/>
  			<result column="mem_id" property="memId"/>
  			<result column="mail_key" property="mailKey"/>
  			<result column="origin_name" property="originName"/>
  			<result column="re_name" property="reName"/>
  			<result column="upload_date" property="uploadDate"/>
  		</collection>
  	</resultMap>
  	
  	<select id="selectOneAttachment" resultType="attachment">
		SELECT * 
		FROM ATTACHMENT
		WHERE KEY = #{ key }
	</select>
</mapper>



  