<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--내 근태정보-->
<mapper namespace="attend">
  <select id="selectAttendList" resultType="attend">
    select *
	from attend
	where mem_id=#{memId}
	order by key desc
  </select>
  
  <!-- 페이징 근태정보 -->
 <select id="selectAttendListPaging" resultType="attend">
  select *
from (
    select row_number() over (order by key desc) rnum,
        A.*
    from attend A 
    where mem_id=#{memId}) A
where rnum between #{startRnum} and #{endRnum}
   </select>
    
    
   <!--출근-->
  <insert id="attendArrive" >
  insert into 
			attend(key,mem_id,arrive)
		values(
		seq_attend_key.nextval,
		#{ memId },
		sysdate
		)
  </insert>

  <update id="attendLeabe">
  <!--퇴근-->
  update attend
  set  leave=sysdate,
	time=(SELECT trunc(((TRUNC(sysdate, 'MI')-arrive) * 1440)/60 ,2)
    FROM attend
  	where key=(select max(key)
        from attend
        where mem_id=#{ memId}))
  where key=(select max(key)
        from attend
        where mem_id = #{memId}
        )
  
  </update>
  
    <!-- 마지막근태기록 -->
  <select id="selectLastOne" resultType="attend">
    select *
	from attend 
        where key= (    select max(key)
                 from attend
    where mem_id=#{memId} )
	order by key desc
  </select>
  
  	<!-- 출결 정보 -->
    <select id="selectAttendInfo" resultType="attend">
   	select count(*)key,round(sum(time))memId,round(avg(time),2)time
	from attend
	where mem_id=#{memId}
  	</select>
  
  
  	<!-- 캘린더 출력리스트 -->
	<select id="selectCalAttend" resultType="attend">
	select d.key,mem_id,arrive,leave,time,d.yyyymm
	from attend E,(select to_char(arrive,('YYYYMMDD'))yyyymm,key
    from attend
    where mem_id=#{memId}) D
	where E.key(+)=D.key and D.yyyymm like #{yyyymm}
	order by key

	</select>

	<select id="getTodayCount" resultType="int">
	select 
		count(*) 
	from 
		attend 
	where to_char(arrive,'YYYYMMDD') = #{ date }
	</select>
	
	<select id="countAttend" resultType="_int">
	select  count(*)
	from attend
	where mem_id=#{mem_id}
	</select>

	<select id="AttendAllList" resultType="attend">
	
	select A.*,M.name name
	from attend A, member M
	where A.mem_id=M.member_id
	
	</select>
	
	<!-- 메인화면 출퇴근 -->
	<select  id="getAttendLeave" resultType="attend">
	select *
	from attend 
	where mem_id=#{memberId} and to_char(arrive,'YYYY/MM/DD')=#{date}
	
	</select>
	
	<resultMap type="map" id="attendMap">
  		<id column="key" property="key"/>
  		<result column="mem_id" property="memId"/>
  		<result column="arrive" property="arrive"/>
  		<result column="leave" property="leave"/>
  		<result column="time" property="time"/>
  		<result column="startRnum" property="startRnum"/>
  		<result column="endRnum" property="endRnum"/>
  		<result column="cPage" property="cPage"/>
  		<result column="numPerPage" property="numPerPage"/>
  	</resultMap>
	
</mapper>