<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectOneMember" resultType="member">
 		select
		    M.*,
		    (select name from dept D where M.dept_key = D.key) "dept_name",
		    (select name from rank R where M.rank_key = R.key) "rank_name"
 		from 
 			member M
 		where 
 			member_id = #{ memberId }
	</select>
	
	<insert id="insertMember">
		insert into 
			member(member_id, password, name, dept_key, rank_key) 
		values(
			#{ memberId }, 
			#{ password },
			#{ name },
			#{ deptKey },
			#{ rankKey }
		)
	</insert>
	
	<select id="selectDeptList" resultType="dept">
 		select
 			D.*,(select V.name from dept V where key = D.ref) "ref_name"
 		from 
 			dept D
        order by key
	</select>
	
	<select id="selectRankList" resultType="rank">
 		select
 			*
 		from 
 			rank
        order by key
	</select>
	
	<update id="updateMember">
		update 
			member 
		set 
			name = #{name}, 
			dept_key = #{deptKey}, 
			rank_key = #{rankKey}, 
		    tel_num = #{telNum}, 
		    address = #{address},
		    is_manager = #{isManager}
		where 
			member_id = #{memberId}
	</update>
	
	<update id="updatePassword">
		update 
			member 
		set 
			password = #{password}
		where 
			member_id = #{memberId}
	</update>
	
	<select id="selectMemberList" resultType="member">
 		select 
		    M.*,
		    (select name from dept D where M.dept_key = D.key) "dept_name",
		    (select name from rank R where M.rank_key = R.key) "rank_name"
		from 
		    member M
		order by
			rank_key
	</select>
	
	<delete id="deleteMember">
		delete from
			member 
		where 
			member_id = #{memberId}
	</delete>
	
	<select id="selectMemberListWithDeptKey" resultType="member">
	
		select
			*
		from
			member
		where dept_key = #{deptKey}
		
	</select>
	
	<select id="hierarchicalDeptList" resultType="dept">
	
		select 
			D.*
		from 
			dept D
		start with 
			dept_level = 1
		connect by 
			ref = prior key
		order siblings by 
			key
			
	</select>
	
</mapper>